
.header1{
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
}

.header2{
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
}

.header3{
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.header4{
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 18px;
}

.header5{
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
}


.normal-text-semibold{
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
}

.normal-text-regular{
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
}

.medium-text-bold{
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
}

.medium-text-semibold{
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
}

.medium-text-regular{
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.small-text-bold{
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 11px;
}

.small-text-regular{
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
}


