$white:#ffffff;
$primary-orange:#F79511;
$primary-yellow:#E9B803;
$success-light:#2DBE07;
$success-dark:#229305;
$warning-light:#FD1F3A;
$warning-dark:#C90505;



//Fonts colors
$font-color-orange:#F79511;
$font-color-black:#323232;
$font-color-white:#FFFFFF;


//Icons colors
$icon-color-black:#323232;
$icon-color-grey:#C9C9C9;
$icon-color-white:#FFFFFF;


//Background Colors
$background-color-white:#FFFFFF;
$background-color-white-grey:#FAFAFA;
$background-color-light-black:#323232;
$background-color-black:#1A1A1A;


